html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: #fdfdfd;
    color: #333333;
    font-family: 'Muli', sans-serif;
    letter-spacing: 0.02em;
    height: 100%;
}

/*--------- General styles ------------*/

h1 {
    font-weight: 400;
    font-size: 3em;
}

h2 {
    padding-top: 68px;
    font-size: 2.4em;
    margin-bottom: 18px;
}

p {
    margin-bottom: 18px;
    font-size: 1.2em;
}

/*---------- Navbar ----------*/

.nav-link {
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 3px;
    margin-right: 3px;
    letter-spacing: 0.04em;
    transition: all .4s ease-in-out;
}

.nav-link:hover {
    color: #696464;
}

.navbar button {
   background-color: #f7f5f2;
}  

.navbar-toggler {
    border-radius: .75rem;
}

/*---------- Header, hero area and profile image ------------*/

.header-container {
    background: url('../images/background-hero.jpg') center no-repeat #bbbbbb;
    background-size: cover;
    min-height: 600px;
    position: relative;
    margin-bottom: 10px;
}

.hero-text {
   color: #f9fcfb;
   padding-top: 90px;
   padding-left: 10px;
}

.hero-text p {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3em;
}

.hero-text p span {
    font-weight: 700;
}

.hero-text h4 {
    font-size: 1.6em;
}

#profileimage {
    width: 168px;
    border: solid 3px #f9fcfb;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 435px;
    left: 150px;
}

/*--------- About me section------------*/

#about-me {
    background-color: #e4eddb;  
/*  background-color: #ddeedf; bg color to use if not the first one  */ 
/*  background-color: #e5f3e3; */
/*    background-color: #e6f1e5;   */
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
}

#about-me strong {
    color: #7c0a02;
    font-size: 1.1em;
}

#junior-about {
    background-color: #f7f3ce;
}

#first-p {
    border-bottom: 1px solid #c1c1c1; 
}

#resume-paragraph {
    text-transform: uppercase;
    font-weight: 300;
    border-top: 1px solid #c1c1c1;
    padding-top: 2.7px;
}

#resume-paragraph i {
    font-size: 1.2em;
    color: #696464;
    transition: color .3s ease-in-out;
}

#resume-paragraph i:hover {
    color: #7c0a02;
}


/*------------ My Work section -------------*/

#my-work {
 /*   background-color: #f2f2f2;  */
 /*   background-color: #f1f2eb;   */
 /*   background-color: #f9faf7;   */
 /*   background-color:#fcf8f3;  */
     background-color:#f7f5f2; 
 /*   background-color: #f1ede4;  */
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
}

.work-card {
    margin-top: 16px;
    transition: box-shadow .4s ease-in-out;
}

.work-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image {
    background-position: center center;
    width: 100%;
    height: 180px;
    background-color: #ececec;
    object-fit: cover; /*enables zoom instead of stretching the image */
    border-bottom: 1px solid #ececec;
}

.card-title {
    font-size: 1.4em;
}

.card-subtitle {
     line-height: 22px;
     font-size: 1.1em;
     border-top: 1px solid lightgrey;
 }


.project-text {
    font-size: 1.2em;
    border-top: 1px solid lightgrey;
}

.card-footer {
    padding: 10px;
}

.card-footer i {
    color: #8F8F8F;
    border-radius: 50%;
    font-size: 1.7em;
    width: 20px;
    height: 20px;
    transition: color .3s ease-in-out;
}

.card-footer i:hover {
    color: #696464;
}

#github-paragraph {
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

#github-paragraph i {
    font-size: 1.3em;
    color: #696464;
    transition: color .3s ease-in-out;
}

#github-paragraph i:hover {
    color: #7c0a02;
}


/*--------Learning history and Skills-------*/

#my-skills {
    padding-bottom: 30px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #ececec;
}

.timeline-h4 {
    font-weight: 600;
    margin-bottom: 4px;
    color: #7c0a02;
}

.first-skills-h4 {
    margin-top: 36px;
}

.skills-h4 {
    font-weight: 600;
    margin-bottom: 14px;
}

.skills-p {
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 26px;
}

.skills-p mark {
    background-color: #cedcc3;
    color: #7c0a02;
    font-weight: 600; 
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #3f3f44;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 14px;
    height: 14px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #222831;
}

.history-items {
    margin-bottom: 30px;
}


/*--------- Contact section ---------- */

#contact-me {
     background: url('../images/contact-form-bg.jpg') center no-repeat #e4eddb;
     background-size: cover;
}

.form-bg {
    background-color: #f1f2eb;
    opacity: 0.95;
}

#connect-heading {
    color: #7c0a02;
}

.contact-form input {
    font-size: 1.1em;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form textarea {
    font-size: 1.1em;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form button {
    background-color: #fcfcfc;
    font-size: 1.1em;
    border-radius: 40px;
    letter-spacing: 1px;
    margin-bottom: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .3s ease-in-out;
}

.contact-form button:hover {
    background-color: #7c0a02;
}

#success-message {
    color: green;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/*------------ Footer --------------*/

footer {
    border-color: transparent;
    text-align: center;
    background-color: #525252;
}

.footer-section {
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-header {
    padding-bottom: 18px;
    font-weight: 300;
    color: #dadada;
    font-size: 1.4em;
    font-family: 'Carrois Gothic SC', sans-serif;
}

footer a {
    padding: 4px 8px 4px 8px;
    background-color: transparent;
}

footer i {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    font-size: 38px;
    color: #dadada;
    margin-top: 0;
    margin-bottom: 2.2px;
    transition: all .4s ease-in-out;
}

footer i:hover {
    color: #690802;
    font-size: 44px;
}

.copyright-text {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 0.9em;
    color: #aaaaaa;
}


/*----------------- Media Queries ---------------*/

/*---- Added extra breakpoint to make the My work cards display in the
   center of the screen on smaller devices - because of a bug in Bootstrap 4 when
   rendering the page in an Internet explorer browser ----*/
@media (min-width: 576px) {
    .card-deck {
        width: 100%;
    }
    
}


@media (min-width: 760px) {
/*--- Tablet styles ----*/

    /*----- General styles --------*/


    /*------- Header - Hero area and profile image-------*/
    .hero-text {
        padding-left: 72px;
    }

    #profileimage {
        left: 580px;
    }

    /*------- About me section -------*/
    #about-me p {
       border-bottom: none;
       font-size: 1.27em;
    }

    /*--------- Work section ---------*/

    #github-paragraph {
        margin-top: 46px; 
        font-size: 1.3em;
    }

    /*------- Contact section ---------*/
    .form-bg {
        margin-bottom: 30px;
        margin-top: 30px;
        border-radius: 18px;
        border: 1px solid black;
    }

    /*------------ Footer ------------ */
    footer a {
    padding: 4px 16px 4px 16px;
    }

}


@media (min-width: 1200px) {
/*----- Desktop styles -------*/

    /*------ General styles ----------*/
    h1 {
        font-size: 3.6em;
    }

    /*--------- Header - Hero area and profile image-------*/
    .hero-text {
        padding-left: 140px;
    }

    @-webkit-keyframes typing { from { width: 0; } }
    @-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

    .hero-text h4 {
        font-size: 2.2em;
        border-right: .1em solid #f9fcfb;
	    width: 16.5em; 
	    width: 37.5ch;
        white-space: nowrap;
	    overflow: hidden;
        -webkit-animation: typing 6s steps(21, end),
	    blink-caret .4s step-end infinite alternate;
    }

    .hero-text p {
        font-size: 1.6em;
    }

    #profileimage {
        left: 970px;
    }
  
}