body {
    background-color: #fdfdfd;
    font-family: 'Muli', sans-serif;
}

/* General styles */



/* Header */

.header-container {
    background: url('../images/heroimage.jpg') center no-repeat #bbbbbb;
    background-size: cover;
    min-height: 600px;
}

.hero-text {
   color: #f9fcfb;
}

#profileimage {
    width: 168px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: solid 3px #f9fcfb;
}