body {
    background-color: #fdfdfd;
    font-family: 'Muli', sans-serif;
}

/*--------- General styles ------------*/
h1 {
    font-weight: 400;
    font-size: 3em;
}

h2 {
    padding-top: 68px;
    font-size: 2.4em;
    margin-bottom: 16px;
}

p {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 1.2em;
}

/*------- Navbar ----------*/
.nav-item {
    font-size: 1.1em;
}

/*---------- Header ---------------*/
.header-container {
    background: url('../images/heroimage.jpg') center no-repeat #bbbbbb;
    background-size: cover;
    min-height: 600px;
    position: relative;
}

 /*------ Header - Hero area and profile image-----*/
.hero-text {
   color: #f9fcfb;
   padding-top: 90px;
   padding-left: 10px;
}

.hero-text p {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2em;
}

.hero-text p span {
    font-weight: 700;
}

.hero-text h4 {
    font-size: 1.6em;
}

#profileimage {
    width: 168px;
    border: solid 3px #f9fcfb;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 435px;
    left: 150px;
    
}

/*--------- About me section------------*/
#about-me {
   
}

/*---------- My skills section -------------*/
.work-card {
    margin-top: 16px;
}

.card-image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 180px;
}

.project-text {
    font-size: 1.1em;
}


/*------------ Footer --------------*/
footer {
    border-color: transparent;
    text-align: center;
    background-color: #f8f9fa;
}

.footer-section {
    padding-bottom: 20px;
    padding-top: 20px;
}

footer a {
    padding: 4px 16px 4px 16px;
    background-color: transparent;
}

footer i {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 32px;
    color: #8F8F8F;
    margin-top: 0;
    margin-bottom: 2.2px;
    transition: color .3s;
}

footer i:hover {
    color: #696464;
}

/*----------------- Media Queries ---------------*/

@media (min-width: 760px) {
/* Tablet styles */

    /*----- General styles --------*/


    /*--------- Header - Hero area and profile image----------*/
    .hero-text {
        padding-left: 72px;
    }

    #profileimage {
        left: 580px;
    }


}


@media (min-width: 1200px) {
/*----- Desktop styles ---------*/

    /*------ General styles ----------*/
    h1 {
        font-size: 3.2em;
    }

    /*----------- Header - Hero area and profile image---------*/
    .hero-text {
        padding-left: 140px;
    }

    .hero-text h4 {
        font-size: 2em;
    }

    #profileimage {
        left: 970px;
    }
  
}